@font-face {
  font-family: "PlusJakartaSansRegular";
  src: url("fonts/PlusJakartaSans-Regular.ttf");
}

:root {
  --pst-font-family-base-system: "PlusJakartaSansRegular";

}

p {
    text-align: justify;
}
